{% include "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Care Platform</title>
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
</head>
<body>

    {% include "navbar.html" %}
    <br></br><br>
    {% block content %}
    <div class="container-fluid" style="margin-top:80px; position: relative;">
        <div class="overlay"></div>

            <div class="content">
                <h1 style="color: #28a745;">Welcome to the Medical Care Platform</h1>
                <p style="color: #28a745;">We are here to provide the best healthcare services for you and your family.</p>
                <a class="btn btn-primary" href="{% url 'login_patient' %}" role="button">Book an Appointment Now</a>
            </div>
            <br>

            {% comment %} {% if request.user.username %}
            <div class="stats-container">
                <div class="stats-card">
                    <h2>Total Patients</h2>
                    <p>{{ total_patients }}</p>
                </div>
                <div class="stats-card">
                    <h2>Total Doctors</h2>
                    <p>{{ total_doctors }}</p>
                </div>
                <div class="stats-card">
                    <h2>Total Appointments</h2>
                    <p>{{ total_appointments }}</p>
                </div>
            </div>
            {% endif %} {% endcomment %}
        </dev>

    </div>
    
    {% endblock content %}
    {% include "footer.html" %}
</body>
  
</html>
